[2020-09-17 17:15] mat-1 opened #13 "Store translations in the database rather than memory"
Entry translations should be stored in the database instead of memory, so they persist across restarts and because replit doesn't like using a lot of memory

[2020-09-17 17:26] Codemonkey51 opened #14 "Community edits"
Allow non-editors to edit and allow editors to approve that edit to show up.

[2020-09-17 17:38] Codemonkey51 opened #15 "Repldex news checklist"
- [ ] #31
- [x] add reporter role
- [ ] setup repldex news db section
- [ ] setup news article editing
- [ ] setup ui
- [ ] get some reporters (preferably already editor)

Tasks:
@Codemonkey51: code
@minx28: Get reporters

[2020-09-17 21:34] Codemonkey51 opened #22 "Migrate config to db"
Allow a config option to hold all user data (roles) in a db, for allowing edits on the fly (when hosted on repl)

this would allow ppl running repldex to have an add/remove editor/admin command, and have less file clutter.

Some other features would probably depend on this (admin panel for roles, easily add and remove people) and a few others up coming features, also it would allow someone to give

[2020-09-17 21:35] Codemonkey51 commented on #22
This could also come with a migration tool like migrate.py to auto set some stuff up

[2020-09-17 21:40] Codemonkey51 opened #23 "Compiled repldex"
Maybe instead of using python we could use a compiled lang such as go, this could be to increase speed, and make deploying easier (just download 1 binary and add a config file and poof you can auto run, and get a compiled version.

[2020-09-17 21:40] Codemonkey51 commented on #23
@mat-1 @minx28 @jetstream0 what do you think about this

[2020-09-17 21:59] jetstream0 commented on #14
Hmm, seems hard to avoid conflicting edits though.
Maybe: allow non editors (as long as they are logged in with repl.it or discord to make draft articles (like wikipedia, pretty much)

[2020-09-17 21:59] jetstream0 commented on #14
the draft of course would need to be approved by admin

[2020-09-17 22:00] Codemonkey51 commented on #14
Kind of like editor approval right now @jetstream0 ?

[2020-09-17 22:07] jetstream0 commented on #23
I know zero Go though....
So it would take a while for me to be useful

[2020-09-17 22:07] jetstream0 commented on #13
Sure working on this

[2020-09-17 22:09] Codemonkey51 commented on #23
go is not too hard to learn, and that was only a suggestion we could use a different lang if we go the compiled route

[2020-09-17 22:19] mat-1 commented on #23
The main reason ReplDex is slow is because I'm using a free plan for the database.

[2020-09-17 22:21] mat-1 commented on #22
But the reason I made config as its own file is so I can change stuff like the prefix without having to touch any other files or having to create a new database

[2020-09-17 22:21] mat-1 commented on #22
Wait nvm I read the issue wrong, I agree.

[2020-09-17 22:22] Codemonkey51 commented on #23
Compiled repldex is also for people who want to deploy it by themself, 1) it is easier to set up a compiled program to work in PATH, 2) they may host there own db on the computer so they want the bot to be faster, idk

[2020-09-17 22:23] Codemonkey51 commented on #23
Also 1 file is much easier to use then a bunch of files + folders, that if they get tampered with could break the whole thing

[2020-09-17 22:35] jetstream0 commented on #23
eh, I think as mat said if we make everything async it should be much faster.

[2020-09-17 22:37] mat-1 commented on #23
Pretty much everything is async right now, except for the translations (somewhat related to #13)

[2020-09-17 22:39] Codemonkey51 commented on #23
ok

[2020-09-17 22:41] jetstream0 commented on #13
hmm @mat-1
![image](https://user-images.githubusercontent.com/49297268/93535498-efb02680-f8fb-11ea-948a-d5a2c7513d63.png)
Can you make new database "translations"? (client["translations"]) according to [docs](https://motor.readthedocs.io/en/stable/api-asyncio/asyncio_motor_client.html) looks like someone needs to do it in mongodb.

[2020-09-17 22:46] mat-1 commented on #13
I think MongoDB automatically creates the collection when you reference it. By "invalid database name" they probably mean something with spaces.

[2020-09-17 22:57] jetstream0 commented on #13
alright then

[2020-09-17 23:44] mat-1 commented on #13
Created new branch to work on this: https://github.com/mat-1/ReplDex/tree/database-translations

[2020-09-17 23:48] mat-1 commented on #13
Btw the translations should be stored in the entries themselves and not in a separate collection

[2020-09-18 03:16] Codemonkey51 opened #28 "Setup screen."
I think repldex could have a first time setup screen for the website, configuring settings and adding editors ofc this would rely on #22 (for repl.it at least) to allow editors and admins to be configured, this screen could also setup bot support (maybe we make repldex discord bot optional)

This screen could also be reused in the admin panel to configure features.

I'll work on a mock-up design o

[2020-09-18 18:24] Codemonkey51 commented on #28
@mat-1 how do you think this would/could work

[2020-09-18 19:17] Codemonkey51 opened #29 "New login system"
Features:
- [x] discord auth
- [ ] repl auth
- [ ] somehow connect repl acc to discord acc (maybe replcord db or api @minx28)
- [ ] add editors + roles by repl id
- [ ] new login ui

editors and roles by repl id could work this way:
We replace request.discord_id with request.user_id and just add in editors.txt repl user ids, sessions could also start having that Id or a discord one,

then for disc

[2020-09-18 22:02] mat-1 commented on #29
This should be done after #22 so the Repl.it username and discord id of a user can be stored in the same document

[2020-09-18 22:04] mat-1 commented on #22
Btw instead of having a new collection for that, we should store whether a user is an editor/admin/etc in the already existing `users` collection

[2020-09-18 22:05] mat-1 commented on #28
Tbh I don't think this would be useful, and if someone is forking ReplDex they're already gonna have access to the files anyways.

[2020-09-18 22:13] Codemonkey51 commented on #29
Ok

[2020-09-18 22:17] Codemonkey51 commented on #28
Well for #22 it is a bit harder to configure editors/admins, so we probably need a way to set the owner ID (in admin panel there will be a way to add editors + admins once #22 goes thru, and owner could also give add admin perms)

[2020-09-18 22:18] Codemonkey51 commented on #28
But we could have a tool to easily add users like python3 migrate.py add editor id or something like that

[2020-09-19 23:02] Codemonkey51 opened #31 "New role system"
The 2 role (3 with reporter) system works fine for this, but a bit more control could be nice, with #22 there could be default roles, and a person running this could make custom ones, lets say: bad entry remover with unlisted permission only, or they can edit the defuslt role, lets say let anyone edit, a drawback is this could get complex fast

[2020-09-19 23:02] Codemonkey51 commented on #28
I am going to close this for now, as it seems other tools/ideas can replace it

[2020-09-19 23:02] #28 closed

[2020-09-19 23:05] Codemonkey51 commented on #14
This kinda of seems like something that should be done at a later state i I'll close it now

[2020-09-19 23:06] Codemonkey51 commented on #23
This seems a bit far out, if ever so I'll close it for now

[2020-09-19 23:07] #23 closed

[2020-10-01 17:39] Codemonkey51 opened #35 "expanding api & adding tokens"
so currently the limited repldex api doesn't have any tokens, and no way to ratelimit, or have restricted access, i suggest that using mongo db to store a token and there permissions, the permissions would be a list with all the permissions, and it would also store meta data in other properties, use as a ratelimit, or if it's request use a cache or not. These could also be controlled thru the admi

[2020-10-01 22:34] mat-1 commented on #35
Imo ratelimits aren't really necessary since not much is being done on the backend when it's used, tokens are annoying, and people could just scrape if they want to bypass the ratelimits anyways.

[2020-10-01 22:58] Codemonkey51 commented on #35
Maybe if you don't use a token you get standard access, but using (and getting a token with privilege) can let you do privlaged things like edit, unlist, delete (when added), and modify editors

[2020-10-01 22:59] Codemonkey51 commented on #35
Tho highly privlaged tokens (ones with admin features will prob never be given out)

[2020-10-02 03:45] jetstream0 opened #37 "Substitutions"
Repldex entry subs like in xkcd. Will be part of database translations branch

[2020-10-02 16:10] jetstream0 opened #38 "Editors as None on Repldex entries"
On both Repldex server and Repl.it server.
Affecting most people, very weird please fix.

[2020-10-02 16:20] Codemonkey51 commented on #38
Ok I can try to fix it later in the day when I can

[2020-10-02 16:57] jetstream0 commented on #38
Fixed by mat, closing issue

[2020-10-02 16:57] #38 closed

[2020-10-02 20:36] Codemonkey51 commented on #38
Ok :)

[2020-10-03 00:14] mat-1 opened #39 "Add unit tests"
There should be GitHub actions (probably have a new file called test.py that would run these tests, though i have no idea how to make github actions work) for checking:
- [ ]  Making sure the website actually loads
- [ ]  Checking the index page content (& total entries)
- [ ]  Making sure entry pages work
- [ ]  Making sure search works
- [ ]  probably other things idk

This isn't really importan

[2020-10-03 00:15] mat-1 commented on #14
Issues should only be closed once they're actually finished 👍

[2020-10-03 00:22] Codemonkey51 commented on #39
ok

[2020-10-03 19:00] Codemonkey51 opened #41 "HACKTOBERFEST"
@mat-1 maybe we can make this repo opted in for hacktoberfest wat ya think?

[2020-10-03 19:02] Codemonkey51 commented on #41
Oof you said no in server

[2020-10-03 19:02] #41 closed

[2020-10-12 17:17] mat-1 opened #43 "Add member gateway intents"
Users show up as None in the website because Discord.py made a breaking change that requires bots to say whether they need member data, https://discordpy.readthedocs.io/en/latest/intents.html#privileged-intents
Should be very easy, just around two lines

[2020-10-12 18:12] #43 closed

[2020-10-12 18:58] Codemonkey51 commented on #31
#29 first probably

[2020-10-13 23:05] Codemonkey51 commented on #35
@jetstream0 doing this here [mat1/ReplDex#api-dev](https://github.com/mat-1/ReplDex/tree/api-dev)

[2020-10-14 15:56] Codemonkey51 commented on #35
Checklist in #45

[2020-10-14 18:49] Codemonkey51 opened #46 "fix flake8 warnings"
fix the like **1700** flake8 warnings, maybe use black to fix styling

[2020-10-27 03:05] jetstream0 opened #48 "Adding Logs"
Adding logs for article deletion, editing, viewing

[2020-10-27 03:11] Codemonkey51 commented on #48
I can work on this,
Where do we want the logs tho? If db is deleting where do we save logs?

[2020-10-27 03:32] jetstream0 commented on #37
will implement tommorow fully in main, already added own config file

[2020-10-27 03:33] jetstream0 commented on #48
ok made edit logs lets see how that works

[2020-10-27 03:33] jetstream0 commented on #48
oh I had big brain idea, we send this to discord channel

[2020-10-27 03:34] jetstream0 commented on #48
lol dont worry monkey im sure your busy I'll do this

[2020-10-27 03:46] Codemonkey51 commented on #48
Lmaoooo, ye I think o wouldn't be able todo for a while :/ hope you enjoy doing logz, make sure to put the webhook (it's easier than bot) as an env var, and that it will work without it, (it'll just warn you in console

[2020-10-27 03:48] Codemonkey51 commented on #48
Maybe repurpose the entry creation webhook (except for entry view, that should have its own bc it'll prob get spamy)

[2020-10-27 22:13] #46 closed

[2020-12-24 22:07] jetstream0 opened #55 "Add Subscript support for text editor"
https://quilljs.com/docs/formats/ might help?

[2021-01-06 23:40] jetstream0 commented on #13
urg

[2021-01-07 00:01] Codemonkey51 commented on #13
Urg?

[2021-01-07 00:14] Codemonkey51 opened #58 "Contribution ideas"
here is a list of ideas for new contributors (you can get cool discord rank for contributing)

- [ ] Improve ui
- [ ] Add new commands/features
- [ ] Make repldex easier to use
- [ ] Fix bugs

[2021-01-07 00:19] leon332157 commented on #58
I think there's a few things we can do to make contributing easier:
- There should be a database server/mock database for contributing only, which makes testing easier.
- With the above being said, this allows local testing of the website and bot which isn't dependent on the database if the mock server was implemented.
- Unit test to work with the mock server. (This is worth considering but isn't

[2021-01-07 00:24] Codemonkey51 commented on #58
Hello! So I agree, we have 2 of these in their own separate issues #39 is for unit tests, and #35 for api.

Right now the bot and website can be hosted separately but we should definitely work on a testing version of database.py (one that has hard coded answers) so that testing the website/ bot can be made easier without having to setup mongo db. Also for separating them more that could be added t

[2021-01-07 00:30] leon332157 commented on #58
I'm working on re-organizing the repo into something that's easier to contribute with. I will make a pull request later. Another suggestion is that if we are decided on using poetry for package management, we should keep the lock file instead of ignoring it.

[2021-01-07 00:32] Codemonkey51 commented on #58
One idea I had was to split the server into a module so it would be server.api, server.admin all that, and to maybe move all of discord bot into a module

[2021-01-07 05:09] jetstream0 commented on #58
I'm working on featured articles and a guide page

[2021-01-07 16:10] mat-1 opened #64 "Remove TTS & translations"
In my opinion these features just add clutter and are completely unnecessary, not to mention the fact that they don't even work. Please reply to this issue if you agree or disagree

[2021-01-07 18:02] mat-1 commented on #58
These ideas should be made into individual detailed issues

[2021-01-07 19:24] jetstream0 commented on #64
I agree with removing both, mostly because I don't want to fix translations anymore.
We should focus on more useful features like https://github.com/mat-1/Repldex/issues/14
We can leave those in a legacy branch or something so we don't lose the code in case someone feels like reviving them in the future.

[2021-01-07 19:25] Codemonkey51 commented on #64
or just have it in a git tag /release

[2021-01-07 19:34] IreTheKID opened #66 "Frontend Rework/Redesign (CSS)"
The ReplDex frontend (website) hasn't seen any changes in quite a while, and I think it could use a lot of updating & reworking. I'd be down to work on this, as I've gotten a lot better at CSS the past few months (I still use frameworks cuz I'm lazy) and have quite a few ideas for good changes to how users interact with entries on ReplDex, editor or not.

I also wanna ask if it's okay to work with

[2021-01-07 19:35] Codemonkey51 commented on #66
@mat-1 is using frameworks ok?

[2021-01-07 19:40] mat-1 commented on #66
I don't really like frameworks since they're generally hard to customize, make the site look low-effort, have confusing class names, and make the site take longer to load.
However, you can take the parts of Bulma you want and stick them in the CSS if you want

[2021-01-07 19:50] IreTheKID commented on #66
Well, Bulma's whole design philosophy addresses the issues that you just mentioned @mat-1 and it's actually really easy to customize components and stuff. But if it really bothers you, I'll guess I can take the parts I need from Bulma's main CSS files.

[2021-01-07 20:20] jetstream0 commented on #66
What's wrong with the current css? Not responsive?

[2021-01-07 21:01] mat-1 commented on #66
The current CSS isn't that bad in my opinion, and it is responsive.

[2021-01-07 21:05] mat-1 opened #67 "Deleting is broken"
Clicking the delete button redirects to `https://repldex.com/delete?id=`, and clicking the cancel button does not cancel.

[2021-01-07 21:12] jetstream0 commented on #67
yeah

[2021-01-07 21:44] IreTheKID commented on #66
The current CSS is not bad, but it can be ✨ **better** ✨

[2021-01-07 21:46] JDOG787 commented on #66
Yes current css is fine, but if we do change pls dont use a framework. I can help if we do change it, but i dont think theres a need right now

[2021-01-07 21:47] JDOG787 commented on #66
I think we should work on fixing bugs and adding features then change css later if needed. But as I said the css looks good

[2021-01-07 21:56] IreTheKID commented on #66
You guys have vision smh

[2021-01-07 22:03] jetstream0 commented on #67
It was never meant to be merged into master (idk why it was), but I'll try and fix it....

[2021-01-07 22:05] Codemonkey51 commented on #66
~~You have no dev role anymore smh~~

[2021-01-07 22:17] IreTheKID commented on #66
@Codemonkey51 @mat-1

Anyways, does the ReplDex DB store user PFPs? I kinda need those for a few ideas...

[2021-01-07 22:20] Codemonkey51 commented on #66
Not right now... You can prob query them when needed with discord.py

[2021-01-07 23:13] IreTheKID commented on #66
ugh, fine :|

[2021-01-07 23:14] Codemonkey51 commented on #66
Can you share the ideas?

[2021-01-07 23:50] IreTheKID commented on #66
@Codemonkey51 I'll let you know in the Discord later, but here's what I have so far (kinda): [DexCSS](https://dexcss.irethekid.repl.co/)

[2021-01-08 00:41] JDOG787 commented on #66
@IreTheKID That doesnt look any better...

[2021-01-08 00:41] JDOG787 commented on #66
And PLEASE no frameworks

[2021-01-08 06:16] mat-1 opened #70 "Fix discord search command"
You used to be able to select an entry that appeared in ^search by adding a reaction, but this stopped working long ago

[2021-01-08 13:54] IreTheKID commented on #66
Alright, alright I get it :|

[2021-01-08 17:12] jetstream0 commented on #64
sure

[2021-01-08 17:12] jetstream0 commented on #67
https://github.com/mat-1/Repldex/pull/69 should fix... we'll see. Will close after confirmation

[2021-01-08 17:16] IreTheKID opened #74 "Infinite Scrolling Broke"
Infinite scrolling doesn't work anymore, the index page caps at around 21 entries. I highly suspect that this is an issue with the API, as I can't retrieve more than 21 entries at a time, and pagination doesn't work either.

[2021-01-08 17:17] Codemonkey51 commented on #74
#73 fixes api

[2021-01-08 17:18] Codemonkey51 commented on #74
Wait it was merged

[2021-01-08 17:18] jetstream0 commented on #74
Yeah, it might not have updated on repl.it though...

[2021-01-08 17:19] Codemonkey51 commented on #74
I'll pull it now

[2021-01-08 17:24] Codemonkey51 commented on #74
Nope, there is a new error I think reverting the refactoring might be best

[2021-01-08 17:25] mat-1 opened #75 "Testing database"
There should be a "mock database" object (maybe saves/loads from a json file?) for running the unit tests or testing locally if you don't want to set up a MongoDB database

[2021-01-08 17:28] IreTheKID commented on #74
It's definitely a new error, before #73 was merged, the API endpoints returned a `404` but now they return a `500`.

[2021-01-08 17:43] jetstream0 commented on #74
Will look into it

[2021-01-08 17:46] IreTheKID commented on #74
@mat-1 @Codemonkey51

Some more info:

The `api/entry/<name>` endpoint works just fine, and so does `api/entries/<sort>`. The problem is when you pass query parameters like `?page=0&limit=21` to the entries endpoint that you run into `500` Errors.

[2021-01-08 17:52] #74 closed

[2021-01-08 17:55] JDOG787 commented on #66
So no css rework?

[2021-01-08 17:57] IreTheKID commented on #66
I'm working on it rn :)

[2021-01-08 19:18] JDOG787 commented on #66
No :(

[2021-01-08 19:58] githubuser9022 opened #78 "will not respond to commands"

[2021-01-08 20:06] #78 closed

[2021-01-08 20:09] jetstream0 commented on #78
this has been resolved

[2021-01-08 20:22] githubuser9022 opened #80 "newentry, selfentry commands are not working"

[2021-01-08 20:24] jetstream0 commented on #80
Hmm.. I think newentry works

[2021-01-08 20:24] jetstream0 commented on #80
You can set a self entry but it does not show up when you do `^selfentry`

[2021-01-08 20:25] IreTheKID commented on #80
These commands are working as intended, I just used them right now.

[2021-01-08 21:37] jetstream0 commented on #80
![image](https://user-images.githubusercontent.com/49297268/104066665-a4759880-51b6-11eb-945d-6c641a3cf1f7.png)
doesn;t look like it @IreTheKID

[2021-01-08 21:44] jetstream0 opened #82 "Multi word queries for ^entry are broken"
god damn

[2021-01-09 01:10] JDOG787 commented on #66
@mat-1 @jetstream0 Are we doing a redesign or no? If so I'd like to help with it, though I dont know that we need to do it.

[2021-01-09 01:14] IreTheKID commented on #82
@jetstream0 I've got a fix for it working :)

[2021-01-09 01:16] IreTheKID commented on #66
I can invite you to the Repl I have for the CSS rework if ya want @JDOG787

[2021-01-09 01:17] IreTheKID commented on #66
Anyways, I have a draft PR (#72) where I'm working on this rn.

[2021-01-09 01:27] jetstream0 commented on #82
will take a look

[2021-01-09 01:29] Codemonkey51 commented on #82
Catch all kinda breaks it idk if that is fixed now tho @mat-1 ?

[2021-01-09 01:36] jetstream0 commented on #82
Wdym monkey?

[2021-01-09 01:37] Codemonkey51 commented on #82
The reason why ^request only had 3 args work is because it used *args, and that broke the arg parser bc it looks at all args the functions take

[2021-01-09 01:38] Codemonkey51 commented on #82
Mat may have fixed but idk cc: @mat-1 pls confirm

[2021-01-09 02:19] githubuser9022 commented on #80
hmms

[2021-01-09 03:27] jetstream0 commented on #82
Don't think so, repldex still not working

[2021-01-09 04:52] JDOG787 commented on #66
Well its looks like we arent redoing css

[2021-01-09 04:52] JDOG787 commented on #66
Just improvements

[2021-01-09 16:48] jetstream0 commented on #82
also broken for multi word ^request (no response at all)

[2021-01-10 06:27] leon332157 commented on #82
fixed with the latest version.

[2021-01-10 06:27] #82 closed

[2021-01-10 06:28] leon332157 commented on #80
fixed with the latest version

[2021-01-10 06:28] #80 closed

[2021-01-10 18:15] IreTheKID opened #88 "argument parsing needs to be updated"
Looking through mat's `BetterBot` class, or, more specifically its `parse_args` function, it's pretty apparent that something is wrong here. Command arguments should be parsed in a way that's indiscriminate of the number of args, and that doesn't seem like the case. (From what I can tell at least, I suck at reading other ppl's code).

The goal should be to have
[code]
and
[code]
be parsed the **sa

[2021-01-10 18:17] IreTheKID commented on #88
The parse_args function shouldn't mess with Python's default way of catching args in my opinion.

This function:
[code]
should be able to work with the discord bot.

[2021-01-10 21:37] #88 closed

[2021-01-10 21:48] jetstream0 commented on #67
#69 Does fix, but seems like you guys don't want deletions anymore, in that case we should eliminate the broken deletions from master
I will still be maintaining the deletions branch however

[2021-01-10 21:49] Codemonkey51 commented on #67
Maybe what could be done is making deletions toggleable in config.json, and then just keeping it off on repldex.com

[2021-01-11 23:11] IreTheKID commented on #75
@mat-1 Looking through some of MongoDB's docs I found [`mongoexport`](https://docs.mongodb.com/database-tools/mongoexport/), which could be used to clone the DB to a JSON file or otherwise.

You could also deploy a public [Replica Set](https://docs.mongodb.com/manual/tutorial/deploy-replica-set-for-testing/) of the DB for others to connect to for testing locally.

These are just some ideas I wante

[2021-01-11 23:16] Codemonkey51 commented on #75
The thing is we would need to remove a lot of stuff from the export/replica set, like session ids and stuff, and some of it might be needed in testing. So I think we are better off creating a json file that has the same layout/schema as the normal db but with filler content (like 3 entries, with different properties, a few fake users, and a few fake links)

[2021-01-12 18:07] IreTheKID commented on #75
I thought the objective was to create a copy of the MongoDB for users who didn't want to make their own in order to test. Making a dummy DB doesn't like it would fit that goal. Anyways, the mongo driver has to connect to a server, so even after you figure out a way to dump the DB contents to a JSON file, you still need a way to serve it locally. I don't know how to do that, but @leon332157 said he

[2021-01-13 18:09] Codemonkey51 commented on #75
Ok, so we should host a mongo db set that is publicly writeable? If so we would still use filler values.

[2021-01-19 18:50] IreTheKID opened #94 "Improve Lighthouse Reports"
[**Repldex - Lighthouse Report**](https://lighthouse-dot-webdotdevsite.appspot.com//lh/html?url=https%3A%2F%2Frepldex.com)

I'm gonna be working on improving the scores for a lot of the failed tests in the Lighthouse Report, specifically in `Accessibility` and `Performance`. This is all frontend stuff so it shouldn't interfere with what y'all have going on with the DB, bot, server, etc.

[2021-01-19 18:53] Codemonkey51 commented on #94
@mat-1 is there anyway for i.matdoes.dev to have like a `?ttl` parameter so the user can set the ttl

[2021-01-19 18:59] jetstream0 commented on #94
ttl?

[2021-01-19 19:00] Codemonkey51 commented on #94
Time to live, iirc it's also known as cache time lmao (so the client caches de image)

[2021-01-19 19:02] IreTheKID commented on #94
@Codemonkey51 I was gonna have the server set a `Cache-Control` header in the response. Maybe a week or smth, a year (like Lighthouse suggested) is way too long given how often images foe entries can change.

[2021-01-19 19:04] Codemonkey51 commented on #94
we use https://i.matdoes.dev and I am pretty sure it creates a new url for each image (so also each update), and also that's the thing with no cache control and it isn't managed by anything in this repo, so that's why I suggested a ttl parameter for the image

[2021-01-19 19:09] IreTheKID commented on #94
Isn't the `Cache-Control` header sent by the server? All we'd need to do is add it to the `aiohttp` response right?

[2021-01-19 19:25] Codemonkey51 commented on #94
We don't control i.matdoes.dev tho (@mat-1 does) so mat would have to change that

[2021-01-19 19:35] IreTheKID commented on #94
OK, that makes sense.

[2021-01-19 19:51] #66 closed

[2021-01-19 20:54] mat-1 commented on #94
Ok I added a cache control header (only a day because Cloudflare caches it and if it's too high it'll think no one is viewing the image so it'll just delete it)

[2021-01-21 17:18] #94 closed

[2021-01-21 17:22] jetstream0 opened #97 "Remove Deletions"
Should remove deletions from master. Mostly because it doesn't even work.
Deletions is already implemented in #69 but not completely finished

[2021-01-24 19:07] jetstream0 commented on #64
well we're at it we can remove broken deletions from master

[2021-01-24 19:09] jetstream0 commented on #67
#97

[2021-01-24 19:10] jetstream0 commented on #22
#96 will start a config collection in the db. However @mat-1 @Codemonkey51 I worry migrating config to db will complicate testing for contributors who do not have access to the db, so the effort should be done at the same time as the `mock-db` branch

[2021-01-24 19:10] jetstream0 commented on #22
Or after... and update mock-db

[2021-01-26 18:24] leon332157 commented on #13
Closed since translation was removed.

[2021-01-26 18:24] #13 closed

[2021-01-26 18:24] #97 closed

[2021-01-26 18:25] leon332157 commented on #67
Fixed in #69

[2021-01-26 18:25] #67 closed

[2021-01-26 18:26] leon332157 commented on #64
Removed in #69

[2021-01-26 18:26] #64 closed

[2021-01-26 18:27] leon332157 commented on #37
Added in #36

[2021-01-26 18:27] #37 closed

[2021-01-26 18:27] jetstream0 commented on #22
config collection in db made

[2021-01-26 18:29] Codemonkey51 commented on #35
Closed #45 becuase it is outdated

[2021-01-26 18:39] jetstream0 opened #103 "Remove substitutions"
seems unused, so we should remove

[2021-01-26 19:03] jetstream0 opened #104 "Links occasionally not working on discord bot"

[2021-01-26 19:08] frissyn commented on #103
Agreed

[2021-01-27 17:55] mat-1 commented on #104
Can you add an example?

[2021-01-27 18:11] jetstream0 commented on #104
![image](https://user-images.githubusercontent.com/49297268/106034611-f6a82c00-6087-11eb-9dfa-46d41ebfc1f4.png)
@mat-1

[2021-01-27 18:43] mat-1 commented on #104
This happens when people put hyperlinks incorrectly `[repl.it](repl.it)` vs `[repl.it](/entry/repl.it)` (with the latter being correct)

[2021-01-27 18:43] #104 closed

[2021-01-30 01:03] frissyn opened #109 "Feature: Add Entry Tags"
Pretty simple in theory, really. Add tags to entries and a way to filter by them. ✨

[2021-01-30 01:34] mat-1 commented on #109
What are some examples of tags that would exist?

[2021-01-30 21:59] frissyn commented on #109
Like, for the entries about Replit team members you could put a `Replit-Team` tag, and for the entries about community members, you could put `Replit-Community` or smth like that idk.

The possibilities are endless, as they say.

[2021-02-02 00:27] mat-1 opened #110 "Sorting options"
There should be a dropdown to select how entries should be sorted on the index page. For example: recently edited (default), least recently edited, newest, oldest, most/least edits, etc.

[2021-02-23 20:16] leon332157 opened #114 "Anchor.popUpContainer is undefined."
https://github.com/mat-1/Repldex/blob/b971bbb1d032a8593e8ac34f10cc4bda14b0de3d/repldex/backend/templates/entry.html#L57

[2021-02-23 20:18] #114 closed

[2021-08-17 04:12] mat-1 opened #132 "Fix using too much memory"
Repldex constantly crashes on Replit because it uses too much memory, I don't know where the issue is.

[2021-08-17 05:56] Codemonkey51 commented on #132
It is probably the cache.

[2021-08-17 17:46] spotandjake opened #134 "Top Editors Have Been Borked"
![image](https://user-images.githubusercontent.com/40705786/129775332-b77daa7a-daa7-45bb-9054-30bd14faef0e.png)
it says <corutine object Client.fetch_user at <address>> insttead of the editors username

[2021-08-17 17:49] spotandjake opened #135 "Repldex Uptime is bad"
![image](https://user-images.githubusercontent.com/40705786/129775769-6e0c65c8-b06e-4417-b1b2-af83b640b019.png)
constantly

[2021-08-17 17:50] Codemonkey51 commented on #135
Caused by #132

[2021-08-17 17:50] #135 closed

[2021-08-17 18:55] #134 closed

[2021-08-28 04:35] #103 closed

[2021-08-29 03:06] #132 closed

[2021-09-25 05:59] selectthegang opened #149 "add Entry comments"
allow people to comment on entries, but require the user to be logged in with Discord so then fellow admins can ban their access!

[2021-09-25 13:33] leon332157 commented on #149
test webhook

[2021-09-25 13:35] leon332157 commented on #149
test1

[2021-09-25 17:01] mat-1 commented on #149
Should this work like Wikipedia talk pages? Wikipedia talk pages are to discuss modifications to articles though, but that might be better.

[2021-09-25 17:02] selectthegang commented on #149
Yes

[2021-10-29 18:38] Codemonkey51 commented on #14
This should arrive in v3

[2021-10-29 18:43] Codemonkey51 opened #155 "Store entry content as markdown"
Right now we store it as html, but that is a pain to deal with. Markdown can be easily converted to html easily with libraries. Markdown is also much more versatile.

[2021-11-05 18:23] selectthegang commented on #22
This would most likely have to be required as we are planning to not have it hosted on a repl.

[2021-11-05 18:27] selectthegang commented on #14
We could allow anyone to create/edit entries without approval, but unpublish/revert them if they contain inappropriate content. Either way, there needs to be a guidelines page that all users must agree to before having the ability to post content on Repldex

[2021-11-05 18:30] selectthegang commented on #155
I don't know how i'll be able to add the markdown on the application, dm me a link that contains information how to add markdown into a android app created with Kotlin over on Discord.

[2021-11-16 17:05] selectthegang commented on #149
Removing this issue

[2021-11-16 17:05] #149 closed

[2021-11-21 23:35] selectthegang commented on #55
This would be cool for the v3 editor

[2022-01-18 18:56] selectthegang opened #168 "Cannot access "Command" before initialization error"
There is an issue with the `@sveltekit/adapter-vercel` package that is causing the project to be unable to be deployed on [Vercel](https://vercel.com/).

Some possible fixes to this issue is
- Running `npm update` in terminal/shell
- Import the `@sveltekit/adapter-vercel` package after `Command` is initialized

This issue is affecting the [v3](https://github.com/repldex/Repldex/tree/v3) branch!

[2022-01-19 01:19] selectthegang commented on #168
@mat-1 will be trying to replace the package, will keep issue opened just in case if fix does not resolve issue.

[2022-01-19 01:28] selectthegang commented on #168
Possible fix `83f6304` has been pushed.
Once deployed successfully, this issue will be closed.

[2022-01-19 01:32] #168 closed

[2022-03-07 01:20] spotandjake opened #177 "V3: Editor Improvements"
When people are editing it is good to cache there current edit.

Cache the current edit data to the users localStorage, and on close page if they are in the editor ask them if they would like to close the page.

Reason: Stops frustration due to accidental page close.

[2022-03-07 01:23] selectthegang commented on #177
Great idea, have appended the Enhancement label to this issue.

[2022-03-07 01:29] Codemonkey51 commented on #58
Outdated, v3 will address ui, and the rest should be separate issues if anyone wants them done or added.

[2022-03-07 01:29] #58 closed

[2022-03-07 01:30] Codemonkey51 commented on #15
Repldex news is basically dead right now

[2022-03-07 01:30] #15 closed

[2022-03-07 01:31] Codemonkey51 commented on #55
v3 should do this

[2022-03-07 02:55] spotandjake opened #178 "Chore(V3 Editor Improvements)"
- Hover Effect On Submit Button
- Change Font In Actual Editor
- On Hover Change Cursor To A Text Editor Cursor
- Possible Border Shadow On The Fields Maybe An Inward Shadow Though.

[2022-03-07 02:57] selectthegang commented on #177
#178 is another pr with information about good improvements with the v3 editor!

[2022-03-09 01:57] Codemonkey51 commented on #22
Addressed in v3

[2022-03-09 01:57] #22 closed

[2022-03-09 01:59] Codemonkey51 commented on #31
v3 will only have the admin role.

[2022-03-09 01:59] #31 closed

[2022-03-09 02:02] Codemonkey51 commented on #29
Should be reviewed and re-scoped for v3.

[2022-03-09 02:03] Codemonkey51 commented on #14
This has been added in v3! 🥳

[2022-03-09 02:05] Codemonkey51 commented on #14
Nevermind, still a WIP should be added sometime soon though

[2022-03-11 06:57] selectthegang opened #186 "Fix input lag on new editor"
The editor is not configured properly towards mobile devices, which causes lag in input and can cause issues with syntax formatting (if we ever decide to add syntax formatting for Markdown).

[2022-03-11 06:59] selectthegang commented on #186
Will try to fix this issue in next commit

[2022-03-12 04:03] selectthegang commented on #186
Issue has somewhat been fixed, still causes big amounts of input lag on mobile devices. should be fixed by tomorrow morning if everything goes as planned.

[2022-03-12 08:04] selectthegang commented on #186
I have removed the Autocomplete extension from CodeMirror as it is never used and not supported with Markdown, and it has reduced the input lag by 400ms. I will be trying other methods to reduce input lag which should improve the user experience for all devices by 35%. I also plan to improve the design of the editor for all devices as a lot of syntax formatted Markdown code such as `[name](url)` d

[2022-03-14 01:01] selectthegang commented on #186
I don't feel like fixing this, so i am going to close this

[2022-03-14 01:01] #186 closed

[2022-03-14 02:35] selectthegang commented on #109
@mat-1 maybe we could add this into v3 since we already somewhat added a filter system

[2022-03-14 02:36] selectthegang commented on #110
Will add in v3

[2022-03-14 02:40] selectthegang commented on #178
Have merged this issue with #177 to reduce amount of issues.

[2022-03-14 02:40] #178 closed

[2022-03-14 02:45] selectthegang commented on #155
This would be a great way to prevent XSS on v3

[2022-03-14 02:47] mat-1 commented on #155
Changed in v3.

[2022-03-14 02:47] #155 closed

[2022-03-14 02:48] selectthegang commented on #75
Maybe we could implent this somehow in v3, or create a real database and just supply the url in `CONTRIBUTING.md` and just allow anyone to use it although it could bring some security risks

[2022-03-14 02:52] selectthegang commented on #70
This was fixed with v3 #187

[2022-03-14 02:52] #70 closed

[2022-03-14 02:58] selectthegang commented on #14
This has been added into v3

[2022-03-14 03:01] selectthegang commented on #35
We might add this into v3, not too sure yet.

[2022-03-14 03:03] selectthegang commented on #29
Adding Repl Auth would be hard to do with v3 as we are hosting with Vercel, maybe we could add a custom authentication system with Firebase or something like that

[2022-03-14 03:04] selectthegang commented on #39
We could add this into v3 quite easily since we are using Svelte

[2022-03-14 03:47] jetstream0 commented on #29
Disagree with firebase

[2022-03-14 03:51] selectthegang opened #188 "Add ESLINT action"
We need to add a ESLINT action to automatically format our code.

[2022-03-14 15:46] jetstream0 opened #190 "Bot Error Handling"

[2022-03-14 15:49] jetstream0 opened #191 "Forking Documentation"
- [ ] Env documentation
- [ ] Contributing / Testing process
- [ ] How to fork
- [ ] Project structure
- [ ] CSS
- [ ] About Vercel and Svelte
Probably some more, feel free to suggest and I'll edit and add

[2022-03-14 16:21] mat-1 commented on #188
Correction: We're using Prettier and not Eslint to check code formatting. The command to check the code with Prettier is `npx prettier -c .`

[2022-03-14 16:34] #188 closed

[2022-03-14 16:55] mat-1 commented on #191
There's a contribution guide at https://github.com/repldex/Repldex/blob/v3/CONTRIBUTING.md which also includes an overview of the code structure.

[2022-03-14 17:07] jetstream0 commented on #191
Nice!

[2022-03-14 19:06] selectthegang commented on #191
Yes, yes it's needed.

[2022-03-18 21:10] selectthegang commented on #14
Moving this into `In Progress`

[2022-03-18 21:12] selectthegang commented on #177
I might add this stuff in my next design update, as it could bring a lot of improvements to Repldex. Moving to `In Progress`

[2022-03-18 21:15] selectthegang commented on #190
When creating an issue, please fill out the description box. I am going to be working on this as i have nothing else to do in life. Please expect this in next update. Moving this into `In Progress` and self assigning.

[2022-03-19 03:11] selectthegang opened #200 "Add profile page"
I am working on this now, some assistance may be needed.

[2022-03-19 03:20] selectthegang commented on #39
I have a github action for one of my private repositories that checks for any Svelte page based issues and errors, if you want i can try to fetch the code i wrote for it and send it over on the Repldex discord for approval before i add it into the actual repo

[2022-03-19 03:49] jetstream0 opened #201 "Webhook Events"
Eg: entry edited request to webhook sent

[2022-03-19 03:51] selectthegang commented on #201
Good idea, but would be hard without a server. Am setting this to In Review so mat can see if it's a good idea or not

[2022-03-19 03:55] selectthegang commented on #190
Have moved this to `In Review` for @mat-1 to determine if this should be added

[2022-03-19 03:57] selectthegang commented on #200
Have moved this into `Under Review` so mat can determine if i should add this.

[2022-03-19 04:15] selectthegang commented on #109
This is currently in the making!

[2022-03-19 04:17] selectthegang commented on #190
This will be extremely hard to do as we will have to manipulate the `handleInteraction` function so then we can send stuff back with just a Interaction ID rather than being required to use the `Command` constructor

[2022-03-19 04:18] #200 closed

[2022-03-19 04:19] selectthegang commented on #200
I have closed this issue as there is no reason to have one, if it's being added either way.

[2022-03-19 05:50] mat-1 commented on #109
We decided in Discord that the list of tags will be pre-set and chosen by admins so they're easier to manage.

[2022-03-19 16:59] jetstream0 opened #203 "Change unauthorized error codes from 500 to 401"
For example, when attempting to view a hidden entry, or editing tags (admin only), or editing an entry without being logged in, and an user is not an admin, instead of returning 500 error codes, 401 codes should be returned instead

[2022-04-05 12:54] whippingdot opened #205 "Request editor status"
Add me and @IronCladDev please (⊙_⊙;)

[2022-04-05 12:55] selectthegang commented on #205
I'm pretty sure they aren't accepting new editors at this time due to v3 being worked on.

[2022-04-05 13:00] whippingdot commented on #205
I am happy if you add me to the repo, but I meant an entry for us

[2022-04-05 13:05] whippingdot commented on #205
Isn't that bad. If anyone can create an entry **without review** some weird entries could be added.

[2022-04-05 13:07] selectthegang commented on #205
We will obviously be adding some auto moderation and trust factors. So, people with a good trust level will be able to create/edit entries. People with a bad trust level will not be able to contribute to the project until they work that level up.

[2022-04-05 13:10] whippingdot commented on #205
Done close the issue!

[2022-04-05 13:10] selectthegang commented on #205
Glad to help!

[2022-04-05 13:10] #205 closed